@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.cards {
  border: solid rgb(187, 187, 187) 1px;
  width: 200px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.banner {
  position: relative;
  background-image: url("../src/bg-login.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.boders {
  border: solid black 2px;
}

/* Add this CSS to your stylesheet */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar {
  animation: slideIn 0.5s ease-out forwards;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
